* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #171718;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #1D1F1E;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  margin: 0 auto;
  align-items: center;
}

.img-log {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  display: flex;
  gap: 20px;
}

.link a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: initial;
  font-weight: 500;
}

.right-header {
  display: flex;
  gap: 20px;
}

.lang {
  background-color: rgba(255, 255, 255, 0.05);
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.main {
  padding-top: 90px;
}

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #1d1f;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #1d1f;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-block-bg {
  background-image: url("https: //files.itv.uz/uploads/helper/2024/01/09//85a5858ce7083d494f2b6be0f7d442e6-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.blog-bg-img {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 13.6%;
}

.blog-bg-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.btn-bg {
  background-color: #52B038;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
}

.swiper-block-bg-2 {
  background-image: url("https: //files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-3 {
  background-image: url("");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-4 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-5 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-6 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-7 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-8 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-9 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-10 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-11 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-12 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-13 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-14 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.swiper-block-bg-5 {
  background-image: url("https://files.itv.uz/uploads/helper/2024/01/06//4cad3fc6dad0cc28aaad02263b80efc1-q-1920x750.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -30px;
}

.movie {
  display: grid;
}

.movie img {
  border-radius: 5%;
  width: 220px;
  height: 320px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.movie img:hover {
  transform: scale(1.1);
  display: block;
}

.movie h3 {
  margin-top: 7px;
  color: #fff;
}